.contenedorCheckout{
    display: flex;
    justify-content: center;
    .contenedorFormCheck{
        margin-right: 2rem;
        .tituloForm{
            width: 400px;
            font-weight: 400;
            font-size: 24px;
            border-bottom: 1px solid $nero;
            margin-bottom: 20px;
        }
        .verRecibo{
            width: 400px;
        }
        .disable{
            display: none;
        }
        .divLineModal{
            border-bottom: solid 1px #0D1B2A;
            margin-bottom: 1rem;
            .itemModal{
                margin-bottom: 5px;
            }
        }
        .contendorForm{
            width: 400px;
            .contenedorInputs{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                label{
                    margin-bottom: 5px;
                    color: black;
                    font-weight: 300;
                }
                input{
                    margin-bottom: 20px;
                    height: 3rem;
                    border-radius: 5px;
                    border: 0.5px solid $nero;
                    font-weight: lighter;
                    padding: 5px;}
                .botonComprarAhora{
                    text-align: center;
                    background: #adc178;
                    color: #fff;
                    height: 2rem;
                    border-radius: 5px;
                    border: none;
                }
                .botonComprarAhoraDisable{
                    text-align: center;
                    background: #d9d9d9;
                    color: $nero;
                    height: 2rem;
                    border-radius: 5px;
                    border: none;
                }
                .errorMail{
                    color: red;
                    font-weight: bold;
                    font-size: 12px;
                }
            }
            .orderIDNegrita{
                font-weight: bold;
            }
        }
    }
    .contenedorDetalleCheck{
        width: 400px;
        margin-left: 2rem;
        .tituloResumenCompra{
            width: 400px;
            font-weight: 400;
            font-size: 24px;
            border-bottom: 1px solid $nero;
            margin-bottom: 20px;
        }
        .contItemsCheck{
            height: fit-content;
            border-bottom: 1px solid $nero;
            margin-bottom: 1rem;
            .itemEnCheckout{
                margin-bottom: 1rem;
                width: 400px;
                display: flex;
                .contImagenCheckout{
                    margin-right: 10px;
                    .carritoImagenCheckout{
                        width: 100px;
                    }
                }
                .contInfoCheckout{
                    width: 300px;
                    display: flex;
                    flex-direction: column;
                    .contTituloCheckout{
                        width: 100%;
                        font-size: 24px;
                        font-weight: 500;
                    }
                    .contCantAndPrecio{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .pCantCheck, .pPrecioCheck{
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
        .contTotal{
            .totalCheck{
                font-size: 24px;
            }
        }  
    }
}