.contenedorItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 250px;
    .imagenItem{
        width: 250px;
        height: 300px;
        margin-bottom: 0.5rem;
    }
    .tituloItem{
        font-size: 1.2rem;
        margin: 0;
    }
    .precioItem{
        font-size: 1rem;
        margin: 0;
    }
}