.nav{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    .logo{
        font: $syncopate;
        letter-spacing: -5.7px;
        h1{
            font-size: 52px;
            font-weight: lighter;
            margin-bottom: 0;
        }
    }
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 500px;
        margin-bottom: 0;
        li{
            list-style: none;
            a{
                text-decoration: none;
                font-size: 18px;
                font-weight: light;
                color: $nero;
                .carrito{
                    font-size: 1.5rem;
                }
            }
        }
    }
}