.counter{
    width: 100%;
    padding: 0.3rem;
    display: flex;
    justify-content: space-around;
    .contContador{
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        width: fit-content;
        span{
            margin: 0 0.6rem 0 0.6rem;
            margin-bottom: 0;
        }
        button{
            background: none;
            font-weight: bolder;
            border-radius: 5px;
            width: fit-content;
            height: fit-content;
            text-align: center;
            border: none;
        }
    }
    .contAgregarCarrito{
        display: flex;
        align-items: center;
        .btnAgregarCarrito{
            background: none;
            font-size: 0.8rem;
            border-radius: 5px;
            border: 1px solid;
            padding: 0.2rem;
        }
    }
}