.counter{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .contContador{
        font-size: 16px;
        display: flex;
        justify-content: center;
        width: fit-content;
        margin-bottom: 10px;
        span{
            margin: 0 0.6rem 0 0.6rem;
            margin-bottom: 0;
        }
        button{
            background: none;
            font-weight: bolder;
            border-radius: 5px;
            width: fit-content;
            height: fit-content;
            text-align: center;
            border: none;
        }
    }
    .contAgregarCarrito{
        display: flex;
        align-items: center;
        .btnAgregarCarrito{
            width: 250px;
            height: 30px;
            font-size: 16px;
            border-radius: 5px;
            text-align: center;
            margin-bottom: 10px;
            background-color: #2e2e2e;
            color: white;
        }
    }
}