.contenedorItemsCarrito{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .botonBorrarTodo, .botonVolverInicio, .botonFinalizarCompra{
        width: 250px;
        height: 30px;
        font-size: 16px;
        border-radius: 5px;
        text-align: center;
        background: none;
        margin-bottom: 10px;
    }
    .botonVolverInicio, .botonFinalizarCompra{
        color: white;
        border: 2px solid $nero;
        background: $nero;
        text-decoration: none;
    }
    .disable{
        display: none;
    }
    .precioTotal{
        color:$nero;
        font-weight: 500;
        font-size: 24px;
    }
    .itemEnCarrito{
        border: 1px solid $nero;
        padding: 10px;
        display: flex;
        flex-direction: row;
        width: 700px;
        justify-content: space-between;
        border-radius: 5px;
        .contImagenCarrito{
            .carritoImagenItem{
                width:250px;
                height:250px;
            }
        }
        .contInfoCarrito{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 10px;
            width: 100%;
            .tituloCarrito{
                font-size: 18px;
                font-weight: bold;
            }
        }
        .contBotonCarrito{
            width: 30px;
            display: flex;
            justify-content: center;
            .botonCerrarCarrito{
                width: 2rem;
                height: 2rem;
                font-size: 2rem;
                background: none;
                font-weight: lighter;
                border: none;
            }
        }
    }
}